.navbar{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar body{
    margin: 0;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;/*breite im verhälnis zu content*/
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.navbar li a{
    display: block;
    color: black;
    padding: 8px 0 8px 16px;/* padding: block da, kein text*/
    text-decoration: none;
}

/*aktiver block*/
.navbar li a.active{
    background-color: #3366cc;
    color: white;
}

/*mit maus drauf aber nicht aktiv*/
.navbar a:hover:not(.active){
    background-color: #555;
    color: white;
}

.content {
    margin-left: 15%;
    padding: 1px 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
